#app {
	background-color: #f11;
	background: -webkit-linear-gradient(top, #f00, #f44);
	background: -moz-linear-gradient(top, #f00, #f44);
	background: -ms-linear-gradient(top, #f00, #f44);
	background: linear-gradient(top, #f00, #f44);
}

#app>header,
#app>footer {
	background-color: #c00;
}